<div class="container-fluid">
    <div *ngIf="employees.length > 0" class="row">
        <div class="col col-md-5">
            <h5><i class="uil uil-user-circle"></i> Members</h5>
            <table class="table table-hover mt-3">
                <thead>
                    <tr>
                        <th scope="col">Full name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employees">
                        <td>{{ employee.firstName }} {{ employee.lastName }}</td>
                        <td>{{ employee.email }}</td>
                        <td>{{ employee.role }}</td>
                        <td class="text-center">
                            <i class="uil uil-ellipsis-v"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div *ngIf="invitations.length > 0" class="row mt-3">
        <div class="col col-md-5">
            <h5><i class="uil uil-envelope-question"></i> Pending invitations</h5>
            <table class="table table-hover mt-3">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Email</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let invitation of invitations">
                        <td>{{ invitation._id }}</td>
                        <td>{{ invitation.email }}</td>
                        <td class="text-center">
                            <i class="uil uil-ellipsis-v"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>