@import 'src/scss/_variables';

.main-navbar {
    & {
        display: flex;
        align-items: center;
        height: $hg-main-navbar-height;
        background-color: $hg-color-primary;
    }

    .main-navbar-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .actions > button + * {
        margin-left: 0.5rem;
    }

    .action {
        color: $hg-color-n-0;
    }

    .profile-action {
        background-color: $hg-color-b-400;
    }
}

.logo {
    & {
        display: flex;
        font-weight: 700;
        outline: none;
        color: $hg-color-n-0;
        cursor: pointer;
    }

    .version-marker {
        margin-left: 0.25rem;
        opacity: 0.64;
    }
}
