@import 'src/scss/variables';

.employee-card {
    & {
        display: inline-flex;
        flex-direction: column;
        background-color: #f5f5f5;
        color: $hg-color-text-dark;
        padding: 1.6em;
    }

    .name {
        line-height: 1em;
    }
}
