.app-snackbar-wrapper {
  & {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

.app-snackbar {
  & {
    display: inline-flex;
    max-width: 400px;

    background-color: #212121;
    border-radius: 0.2rem;
    padding: 0.8rem 1rem;

    animation: snackbarIn 0.5s;
  }

  .message {
    color: #fff;
  }
}

@keyframes snackbarIn {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    ransform: translateX(-50%);
    opacity: 1;
  }
}

@keyframes snackbarOut {
  to {
    transform: translateX(-50%);
    opacity: 0;
  }
}
