<div class="card-content">
    <div class="status">
        <span *ngIf="wasSent">
            {{ 'page_company_profile.section_invitations.invitation_card.status_sent' | translate }}
        </span>
        <span *ngIf="wasOpened">
            {{ 'page_company_profile.section_invitations.invitation_card.status_opened' | translate }}
        </span>
    </div>

    <div class="full-name">
        {{ data.firstName }} {{ data.lastName }}
    </div>

    <div class="email">
        {{ data.email }}
    </div>
</div>
<div ngbDropdown #actionsDropdown="ngbDropdown">
    <div class="action-trigger" ngbDropdownToggle>
        <i class="uil uil-ellipsis-v"></i>
    </div>
    <div ngbDropdownMenu aria-labelledby="invitation-actions-dropdown">
        <button ngbDropdownItem (click)="onCopyLinkClicked()">
            <i class="uil uil-copy"></i>
            {{ 'page_company_profile.section_invitations.invitation_card.action_copy_link' | translate }}
        </button>
        <button ngbDropdownItem disabled>
            <i class="uil uil-envelope-redo"></i>
            {{ 'page_company_profile.section_invitations.invitation_card.action_resend' | translate }}
        </button>
        <div class="dropdown-divider"></div>
        <button ngbDropdownItem class="text-danger" (click)="onDeleteClicked()">
            <i class="uil uil-trash"></i>
            {{ 'page_company_profile.section_invitations.invitation_card.action_delete' | translate }}
        </button>
    </div>
</div>
