@import 'src/scss/variables';

$invitation-card-width: 320px;

:host {
    display: flex;
    align-items: center;
    padding: $hg-card-padding;
    border-radius: $hg-card-border-radius;
    background-color: $hg-color-n-0;
    width: $invitation-card-width;
}

.card-content {
    flex: 1;
}

.status,
.email {
    font-size: 0.75rem;
}

.status {
    color: $hg-color-primary;
}

.full-name {
    margin: 0.25rem 0;
    font-size: 1.125rem;
    font-weight: bold;
}

.action-trigger {
    & {
        cursor: pointer;
        font-size: 1.125rem;
        color: $hg-color-n-90;
    }

    &:hover {
        color: $hg-color-n-700;
    }
}
