@import 'src/scss/variables';

:host {
    & {
        display: flex;
        align-items: center;
        padding: $hg-card-padding;
        border-radius: $hg-card-border-radius;
        transition: background-color ease-in-out 0.3s;
    }

    &:hover {
        background-color: $hg-color-n-20;
    }
}

.content {
    display: flex;
    flex: 1;
}

.recepient-email {
    width: 192px;
    margin-right: 1em;
}

.invitation-code {
    width: 224px;
}

.status {
    width: 108px;
}

.actions > .btn:not(:first-child) {
    margin-left: 8px;
}
