<div class="content">
    <div class="status">
        <span *ngIf="wasSent">
            {{ 'page_company_profile.section_invitations.invitation_card.status_sent' | translate }}
        </span>
        <span *ngIf="wasOpened">
            {{ 'page_company_profile.section_invitations.invitation_card.status_opened' | translate }}
        </span>
    </div>

    <div class="full-name">
        {{ data.firstName }} {{ data.lastName }}
    </div>

    <div class="email">
        {{ data.email }}
    </div>
</div>
<div class="action-trigger">
    <i class="uil uil-ellipsis-v"></i>
</div>
<!-- <div class="actions">
    <button #getLinkBtn="ngbTooltip" class="btn btn-light" (click)="onCopyLinkClicked()"
        [ngbTooltip]="'page_company_profile.section_invitations.invitation_card.tooltip_link_copied' | translate"
        triggers="manual" [autoClose]="true" [disabled]="!canCopyLink">
        <i class="uil uil-link-alt"></i>
    </button>
    <button class="btn btn-light" (click)="onDeleteClicked()">
        <i class="uil uil-trash"></i>
    </button>
</div> -->