@import 'src/scss/variables';

$invitation-card-width: 384px;

:host {
    display: flex;
    align-items: center;
    padding: $hg-card-padding;
    border-radius: $hg-card-border-radius;
    border: $hg-card-border-weight solid $hg-color-n-20;
    background-color: $hg-color-n-0;
    max-width: $invitation-card-width;
}

.content {
    display: flex;
    flex: 1;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

// .recepient-email {
// }

.status {
    margin-right: $hg-card-padding;
}
