<div class="container-fluid">
    <div class="row">
        <form [formGroup]="signUpForm" class="col-12 col-md-4" (submit)="createAccount()">
            <h3 class="mb-4" [innerHTML]="'page_sign_up.title' | translate"></h3>
            <div formGroupName="personaForm" class="row">
                <div class="form-group col-12">
                    <label for="username" [innerHTML]="'page_sign_up.form.label_username' | translate"></label>
                    <input id="username" class="form-control" type="email"
                        [placeholder]="'page_sign_up.form.placeholder_username' | translate" formControlName="username"
                        aria-describedby="usernameHelp"
                        [ngClass]="{ 'is-invalid': usernameControl.invalid  && usernameControl.dirty, 'is-valid': usernameControl.valid }">
                    <small class="form-text text-muted">
                        {{ 'page_sign_up.form.hint_username' | translate }}
                    </small>
                    <small class="text-danger" *ngIf="usernameControl.hasError('not-available')">
                        {{ 'errors.USERNAME_TAKEN' | translate }}
                    </small>
                </div>
            </div>
            <div formGroupName="passwordForm" class="row">
                <div class="form-group col-12">
                    <label for="password" [innerHTML]="'page_sign_up.form.label_password' | translate"></label>
                    <input id="password" class="form-control" type="password"
                        [placeholder]="'page_sign_up.form.placeholder_password' | translate" formControlName="password"
                        [ngClass]="{ 'is-invalid': passwordControl.invalid && passwordControl.dirty }">
                </div>
                <div class="form-group col-12">
                    <label for="confirmPassword"
                        [innerHTML]="'page_sign_up.form.label_confirm_password' | translate"></label>
                    <input id="confirmPassword" class="form-control" type="password"
                        [placeholder]="'page_sign_up.form.placeholder_confirm_password' | translate"
                        formControlName="confirmPassword"
                        [ngClass]="{ 'is-invalid': confirmPasswordControl.invalid && confirmPasswordControl.dirty }">
                    <small class="text-danger" *ngIf="confirmPasswordControl.hasError('no-match')">
                        {{ 'errors.PASSWORD_NO_MATCH' | translate }}
                    </small>
                </div>
            </div>
            <div formGroupName="personaForm" class="row">
                <div class="form-group col-6 pr-2">
                    <label for="firstName" [innerHTML]="'page_sign_up.form.label_first_name' | translate"></label>
                    <input id="firstName" class="form-control" type="text"
                        [placeholder]="'page_sign_up.form.placeholder_first_name' | translate"
                        formControlName="firstName"
                        [ngClass]="{ 'is-invalid': firstNameControl.invalid && firstNameControl.dirty }">
                </div>
                <div class="form-group col-6 pl-0">
                    <label for="lastName" [innerHTML]="'page_sign_up.form.label_last_name' | translate"></label>
                    <input id="lastName" class="form-control" type="text"
                        [placeholder]="'page_sign_up.form.placeholder_last_name' | translate" formControlName="lastName"
                        [ngClass]="{ 'is-invalid': lastNameControl.invalid && lastNameControl.dirty }">
                </div>
            </div>
            <div class="actions mt-5 d-flex justify-content-end">
                <button type="submit" class="btn btn-primary" [disabled]="!isFormValid">
                    {{ 'page_sign_up.form.btn_submit' | translate }}
                </button>
            </div>
        </form>
    </div>
</div>