<div class="full-page">
    <div class="container-fluid h-100 align-items-center">
        <div class="row h-100 align-items-center">
            <div class="col col-md-4 offset-md-4 text-center">
                <img width="320px" class="img-fluid" src="/assets/images/undraw_page_not_found.svg" alt="Page not found">
                <h3 class="mt-4" [innerHTML]="'page_not_found.title' | translate"></h3>
                <div [innerHTML]="'page_not_found.description' | translate"></div>
            </div>
        </div>
    </div>
</div>