@import 'src/scss/_variables';

$avatar-size: 112px;
$avatar-circle-margin: 8px;

:host {
    position: relative;
    overflow: hidden;
    width: 268px;
    border-radius: $hg-card-border-radius;
    background-color: $hg-color-n-0;
}

.actions-trigger {
    position: absolute;
    top: $hg-card-padding;
    right: $hg-card-padding;
    color: $hg-color-n-90;
}

.actions-trigger:hover {
    color: $hg-color-n-600;
    cursor: pointer;
}

.avatar {
    position: relative;
    width: $avatar-size;
    height: $avatar-size;
    margin: $hg-card-padding auto;
    margin-top: 32px;
    border-radius: 50%;
    background-color: $hg-color-n-30;
}

.avatar-circle {    
    position: absolute;
    z-index: 2;
    top: $avatar-circle-margin;
    left: $avatar-circle-margin;
    right: $avatar-circle-margin;
    bottom: $avatar-circle-margin;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid white;
    border-radius: 50%;

    color: $hg-color-n-50;
    font-weight: bold;
    font-size: 1.4em;
}

.user-info {
    margin-bottom: 32px;
}

.name,
.email {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.email {
    font-size: 0.8em;
    color: $hg-color-n-90;
}

.name {
    font-weight: bold;
}

.footer {
    margin-top: $hg-card-padding;
    padding: $hg-card-padding/1.5 $hg-card-padding;
    
    border-top: 1px solid $hg-color-n-30;
    background-color: $hg-color-n-10;
    
    text-transform: uppercase;
    font-size: 0.8em;
    text-align: center;
    color: $hg-color-n-90;
    font-weight: 600;
}
