@import 'src/scss/_variables';

:host {
    display: flex;
    overflow: hidden;
    align-items: center;
    padding: $hg-card-padding;
    width: 384px;
    border-radius: $hg-card-border-radius;
    border: 2px solid $hg-color-n-20;
    background-color: $hg-color-n-0;
}

.avatar {
    width: $avatar-size-md;
    height: $avatar-size-md;
    margin-right: $hg-card-padding;
    border-radius: $hg-card-border-radius;
    background-color: $hg-color-n-20;
}

.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.name,
.email {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.name {
    font-weight: 600;
}
