@import 'src/scss/variables';

#company-profile-page {
    display: flex;
    flex-direction: column;
}

#employee-list,
#invitation-list {
    & {
        display: flex;
    }

    & > * + * {
        margin-left: .64em;
    }
}

.content {
    flex: 1;
}
