@import 'src/scss/variables';

#company-profile-page {
    display: flex;
    flex-direction: column;
}

#employee-list,
#invitation-list {
    & {
        display: flex;
    }

    & > * + * {
        margin-left: 0.64em;
    }
}

.content {
    flex: 1;
}

.organization-name {
    font-size: 24px;
    font-weight: bold;
}

.organization-sentence {
    color: $hg-color-n-90;
}

.invitations-message {
    & {
        display: flex;
        align-items: center;
        padding: $hg-card-padding;
        border-radius: $hg-card-border-radius;
        background-color: $hg-color-b-50;
    }

    .message {
        margin-right: $hg-card-padding * 2;
        line-height: 1;
        color: $hg-color-b-500;
    }
}
