<div class="container-fluid pb-0">
    <div class="organization-name">Lorem Ipsum Ltd.</div>
    <div class="organization-sentence">
        "Lorem ipsum dolor sit amet"
    </div>
</div>

<div id="company-profile-page" class="container-fluid">
    <div class="invitations">
        <h5 class="section-title mb-3">
            {{ 'page_company_profile.section_invitations.title' | translate }}
        </h5>

        <div id="invitation-list" *ngIf="invitations.length > 0">
            <div class="invitations-message">
                <div class="message">
                    <b>Your team needs extension?</b><br>
                    Feel free to invite people:
                </div>
                <button class="btn btn-primary">
                    Create invitation
                </button>
            </div>
            <app-invitation-card *ngFor="let invitation of invitations" [data]="invitation"
                (delete)="deleteInvitation(invitation._id)"></app-invitation-card>
        </div>
    </div>

    <div class="employees mt-4">
        <h5 class="section-title mb-3">
            {{ 'page_company_profile.section_members.title' | translate }}
        </h5>
        <div id="employee-list">
            <app-employee-card *ngFor="let employee of employees" [data]="employee" (delete)="deleteUserAccount($event)">
            </app-employee-card>
        </div>
    </div>
</div>