@import 'src/scss/variables';

.invitation-card {
    & {
        display: flex;
        align-items: center;
        border-radius: 8px;
        background-color: #fff;
        color: $hg-color-text-dark;
        padding: 1em;
    }

    & > * {
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    & > * + * {
        margin-left: 24px;
    }

    &:hover {
        background-color: darken(#fff, 3%);
    }
}
