<div class="container-fluid">
    <div class="row">
        <form [formGroup]="signUpForm" class="col-12 col-md-4" (submit)="createAccount()">
            <h3 class="mb-4">Creating new account</h3>
            <div formGroupName="personaForm" class="row">
                <div class="form-group col-12">
                    <label for="username">Username/Email *</label>
                    <input id="username" class="form-control" type="email" placeholder="user@app.com"
                        formControlName="username" aria-describedby="usernameHelp"
                        [ngClass]="{ 'is-invalid': usernameControl.invalid && usernameControl.touched, 'is-valid': usernameControl.valid && usernameControl.touched }">
                    <small class="text-danger" *ngIf="usernameControl.hasError('isTaken')">
                        This username is already taken
                    </small>
                </div>
            </div>
            <div formGroupName="passwordForm" class="row">
                <div class="form-group col-6 pr-2">
                    <label for="password">Password *</label>
                    <input id="password" class="form-control" type="password" placeholder="*********"
                        formControlName="password"
                        [ngClass]="{ 'is-invalid': passwordControl.invalid && passwordControl.touched }">
                </div>
                <div class="form-group col-6 pl-0">
                    <label for="confirmPassword">Confirm password *</label>
                    <input id="confirmPassword" class="form-control" type="password" placeholder="*********"
                        formControlName="confirmPassword"
                        [ngClass]="{ 'is-invalid': confirmPasswordControl.invalid && confirmPasswordControl.touched }">
                </div>
            </div>
            <div formGroupName="personaForm" class="row">
                <div class="form-group col-6 pr-2">
                    <label for="firstName">First name *</label>
                    <input id="firstName" class="form-control" type="text" placeholder="John"
                        formControlName="firstName"
                        [ngClass]="{ 'is-invalid': firstNameControl.invalid && firstNameControl.touched }">
                </div>
                <div class="form-group col-6 pl-0">
                    <label for="lastName">Last name *</label>
                    <input id="lastName" class="form-control" type="text" placeholder="Garmandia"
                        formControlName="lastName"
                        [ngClass]="{ 'is-invalid': lastNameControl.invalid && lastNameControl.touched }">
                </div>
            </div>
            <div class="actions mt-5 d-flex justify-content-end">
                <button type="submit" class="btn btn-primary" [disabled]="!isFormValid">
                    Create
                </button>
            </div>
        </form>
    </div>
</div>