@import 'src/scss/_variables';

.sign-in-page {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $hg-color-n-30;
}

.sign-in-form {
    min-width: 512px;
    max-width: 640px;
    padding: 2.5em;
    background-color: $hg-color-n-0;
    border-radius: $hg-card-border-radius;
}
