@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import './variables';
@import './bootstrap';
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import './buttons';

* {
  box-sizing: border-box;
}

.full-page {
  height: 100vh;
}

.section-title {
  font-weight: 300;
  font-size: 1.125rem;
  color: $hg-color-n-90;
}
