@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import './variables';
@import './bootstrap';
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import './buttons';

:root {
  font-family: 'Lato', sans-serif;
  font-size: $hg-font-size;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.full-page {
  height: 100vh;
}

.container-fluid {
  padding: 24px 40px;
}

.label-value-pair {
  .label {
    color: $hg-color-n-80;
    font-size: 0.8em;
  }
  .value {
    font-weight: 600;
  }
}

.text-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}
