// Fonts
$hg-font-size: 16px;

// Colors
$hg-color-primary: #4864E6;
$hg-color-text-dark: #333;
$hg-color-text-light: #fff;

// Buttons
$hg-btn-font-weight: 400;
$hg-btn-font-size: 1em;

$hg-btn-border-radius: 0.2em;
$hg-btn-border-weight: 0.09em;

$hg-btn-padding-x: 1.2em;
$hg-btn-padding-y: 0.7em;